<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_2_frame_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,161},{262,55}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{262,55}}</string>
                <key>sourceSize</key>
                <string>{262,71}</string>
            </dict>
            <key>effect_2_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{157,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,226}}</string>
                <key>sourceSize</key>
                <string>{157,226}</string>
            </dict>
            <key>effect_2_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{129,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,280}}</string>
                <key>sourceSize</key>
                <string>{129,280}</string>
            </dict>
            <key>effect_2_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,290}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,290}}</string>
                <key>sourceSize</key>
                <string>{143,290}</string>
            </dict>
            <key>effect_2_frame_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{185,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,275}}</string>
                <key>sourceSize</key>
                <string>{185,275}</string>
            </dict>
            <key>effect_2_frame_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,161},{56,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,110}}</string>
                <key>sourceSize</key>
                <string>{56,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d394f0d33cfe0065f0c743e86b9ce9f$</string>
            <key>textureFileName</key>
            <string>2.png</string>
        </dict>
    </dict>
</plist>
