<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_3_frame_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{193,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,50}}</string>
                <key>sourceSize</key>
                <string>{193,50}</string>
            </dict>
            <key>effect_3_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,54},{230,67}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{230,67}}</string>
                <key>sourceSize</key>
                <string>{230,71}</string>
            </dict>
            <key>effect_3_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{265,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,74}}</string>
                <key>sourceSize</key>
                <string>{265,74}</string>
            </dict>
            <key>effect_3_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,54},{288,80}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,80}}</string>
                <key>sourceSize</key>
                <string>{288,86}</string>
            </dict>
            <key>effect_3_frame_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{295,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{295,74}}</string>
                <key>sourceSize</key>
                <string>{295,86}</string>
            </dict>
            <key>effect_3_frame_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{262,56}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,56}}</string>
                <key>sourceSize</key>
                <string>{262,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1444a68b0bdf568cefc85db8118942d$</string>
            <key>textureFileName</key>
            <string>3.png</string>
        </dict>
    </dict>
</plist>
