<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_5_frame_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,134}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{237,134}}</string>
                <key>sourceSize</key>
                <string>{237,142}</string>
            </dict>
            <key>effect_5_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,284},{237,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,142}}</string>
                <key>sourceSize</key>
                <string>{237,142}</string>
            </dict>
            <key>effect_5_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{237,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,142}}</string>
                <key>sourceSize</key>
                <string>{237,142}</string>
            </dict>
            <key>effect_5_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,140},{237,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,142}}</string>
                <key>sourceSize</key>
                <string>{237,142}</string>
            </dict>
            <key>effect_5_frame_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{237,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{237,142}}</string>
                <key>sourceSize</key>
                <string>{237,142}</string>
            </dict>
            <key>effect_5_frame_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{237,134}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{237,134}}</string>
                <key>sourceSize</key>
                <string>{237,142}</string>
            </dict>
            <key>effect_5_frame_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{237,136}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{237,136}}</string>
                <key>sourceSize</key>
                <string>{237,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79cae9dc254d909ad7dcd3dc835a32ae$</string>
            <key>textureFileName</key>
            <string>5.png</string>
        </dict>
    </dict>
</plist>
