<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_6_frame_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,198},{117,154}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,36},{117,154}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>effect_6_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,194}}</string>
                <key>offset</key>
                <string>{15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,10},{139,194}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>effect_6_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{127,166}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{127,166}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>effect_6_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{111,142}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,41},{111,142}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>effect_6_frame_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{97,120}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,58},{97,120}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>effect_6_frame_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,354},{131,136}}</string>
                <key>offset</key>
                <string>{19,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,18},{131,136}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
            <key>effect_6_frame_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,366},{139,106}}</string>
                <key>offset</key>
                <string>{15,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,48},{139,106}}</string>
                <key>sourceSize</key>
                <string>{169,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>6.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:379e87d76003327d92ad8af9f0541b35$</string>
            <key>textureFileName</key>
            <string>6.png</string>
        </dict>
    </dict>
</plist>
