<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_8_frame_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,2},{118,302}}</string>
                <key>offset</key>
                <string>{-1,127}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,42},{118,302}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>effect_8_frame_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,830},{320,374}}</string>
                <key>offset</key>
                <string>{-4,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,35},{320,374}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>effect_8_frame_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,406},{344,392}}</string>
                <key>offset</key>
                <string>{-1,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,29},{344,392}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>effect_8_frame_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,830},{346,398}}</string>
                <key>offset</key>
                <string>{-2,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,22},{346,398}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>effect_8_frame_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{378,402}}</string>
                <key>offset</key>
                <string>{-1,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,19},{378,402}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>effect_8_frame_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{400,404}}</string>
                <key>offset</key>
                <string>{-7,103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,15},{400,404}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>effect_8_frame_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,420}}</string>
                <key>offset</key>
                <string>{-7,110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,0},{400,420}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>effect_8_frame_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1230},{344,364}}</string>
                <key>offset</key>
                <string>{-2,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,57},{344,364}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>effect_8_frame_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,800},{346,350}}</string>
                <key>offset</key>
                <string>{-3,76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,69},{346,350}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>effect_8_frame_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1148},{346,354}}</string>
                <key>offset</key>
                <string>{-1,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,67},{346,354}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>effect_8_frame_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1596},{348,358}}</string>
                <key>offset</key>
                <string>{-1,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,61},{348,358}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>effect_8_frame_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1504},{338,354}}</string>
                <key>offset</key>
                <string>{-11,87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,56},{338,354}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>8.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ee34669f14363a24566d191d14f4d82$</string>
            <key>textureFileName</key>
            <string>8.png</string>
        </dict>
    </dict>
</plist>
