<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>body_action_attake_1_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,178},{119,166}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{119,166}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>body_action_attake_1_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,346},{117,166}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{117,166}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>body_action_attake_1_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{138,174}}</string>
                <key>offset</key>
                <string>{-28,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{138,174}}</string>
                <key>sourceSize</key>
                <string>{200,176}</string>
            </dict>
            <key>body_action_born_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{72,170}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{72,170}}</string>
                <key>sourceSize</key>
                <string>{86,170}</string>
            </dict>
            <key>body_action_born_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{74,107}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{74,107}}</string>
                <key>sourceSize</key>
                <string>{94,115}</string>
            </dict>
            <key>body_action_collapse_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{168,88}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,36},{168,88}}</string>
                <key>sourceSize</key>
                <string>{200,124}</string>
            </dict>
            <key>body_action_collapse_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,581},{170,65}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,42},{170,65}}</string>
                <key>sourceSize</key>
                <string>{200,107}</string>
            </dict>
            <key>body_action_disappear_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,592},{170,64}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,62},{170,64}}</string>
                <key>sourceSize</key>
                <string>{228,182}</string>
            </dict>
            <key>body_action_disappear_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,360},{178,70}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,58},{178,70}}</string>
                <key>sourceSize</key>
                <string>{228,182}</string>
            </dict>
            <key>body_action_disappear_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{182,78}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,55},{182,78}}</string>
                <key>sourceSize</key>
                <string>{228,182}</string>
            </dict>
            <key>body_action_disappear_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,140},{182,116}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,33},{182,116}}</string>
                <key>sourceSize</key>
                <string>{228,182}</string>
            </dict>
            <key>body_action_disappear_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{182,136}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{182,136}}</string>
                <key>sourceSize</key>
                <string>{228,182}</string>
            </dict>
            <key>body_action_disappear_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{180,134}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{180,134}}</string>
                <key>sourceSize</key>
                <string>{228,182}</string>
            </dict>
            <key>body_action_disappear_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,182}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{140,182}}</string>
                <key>sourceSize</key>
                <string>{228,182}</string>
            </dict>
            <key>body_action_disappear_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,880},{104,104}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,41},{104,104}}</string>
                <key>sourceSize</key>
                <string>{228,182}</string>
            </dict>
            <key>body_action_hurt_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,738},{110,162}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,16},{110,162}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>body_action_hurtfall_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,768},{146,110}}</string>
                <key>offset</key>
                <string>{17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,14},{146,110}}</string>
                <key>sourceSize</key>
                <string>{200,124}</string>
            </dict>
            <key>body_action_hurtfly_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,662},{104,160}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,16},{104,160}}</string>
                <key>sourceSize</key>
                <string>{200,176}</string>
            </dict>
            <key>body_action_hurtfly_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,514},{146,152}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,12},{146,152}}</string>
                <key>sourceSize</key>
                <string>{200,176}</string>
            </dict>
            <key>body_action_idle_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,658},{113,164}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{113,164}}</string>
                <key>sourceSize</key>
                <string>{127,176}</string>
            </dict>
            <key>body_action_run_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,258},{100,180}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,0},{100,180}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>body_action_run_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{58,178}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,0},{58,178}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>body_action_run_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,432},{58,178}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,0},{58,178}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>body_action_run_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,492},{98,170}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,10},{98,170}}</string>
                <key>sourceSize</key>
                <string>{172,180}</string>
            </dict>
            <key>body_action_standup_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{178,85}}</string>
                <key>offset</key>
                <string>{-11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{178,85}}</string>
                <key>sourceSize</key>
                <string>{200,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>body.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:621746e7534b7408b03c3f63115d9f92$</string>
            <key>textureFileName</key>
            <string>body.png</string>
        </dict>
    </dict>
</plist>
