<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_coin_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{84,82}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,82}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>game_coin_btn_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,399},{84,82}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,82}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>game_physical_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,313},{84,82}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,82}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>game_physical_btn_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,227},{84,82}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{84,82}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>game_physical_point_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{52,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,41}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>game_physical_point_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,439},{50,27}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{50,27}}</string>
                <key>sourceSize</key>
                <string>{52,43}</string>
            </dict>
            <key>game_start_btn_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{210,191}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{210,191}}</string>
                <key>sourceSize</key>
                <string>{216,231}</string>
            </dict>
            <key>game_start_btn_touch.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,223}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{210,223}}</string>
                <key>sourceSize</key>
                <string>{216,231}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31910b68c54e45d1e0397de0530c8377$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
